<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>@@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

 
  <body class="home">
  
      <!-- header start -->
	  <header>
        <div id="header-sticky" class="header-area header-1 transparent-header pt-40 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 d-flex align-items-center">
                        <div class="logo">
                            <a class="logo-black" href="index.html"> <img src="assets/images/logo.png" width="240" alt=""> </a>
                            <a class="logo-white" href="index.html"> <img src="assets/images/logo.png" width="240" alt=""> </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-10 offset-xl-1">
                        <div class="f-right pl-20 d-none d-lg-block d-print-block" style="font-size: 30px;">
                            <a href="https://github.com/xizon/F-Curator" target="_blank" style="color: #fff;"><i class="fab fa-github"></i></a>
                        </div>
                        <div class="main-menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#features">Features</a></li>
                                    <li><a href="#screen">Overview</a></li>
                                    <li><a href="#price">Download</a></li>

                                </ul>
                            </nav>
                        </div>
                        <!-- menu -->
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <main>
        <!-- slider-area start -->
        <section id="home" class="slider-area slider-height position-relative" data-background="assets/images/main-bg.svg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <div class="slider-text slider-content-space">
                            <h3 class="wow fadeInLeft" data-wow-delay=".3s">An offline application that comes at you all day long and curates your own web favorites <a style="font-size: 15px;text-shadow: none; transform: scale(.8);" href="https://youtu.be/VYdzttKU5H0" target="_blank" class="slider-video-btn"><i class="fas fa-play"></i></a></h3>
                            <a class="btn download-url-mac" style="font-size: 14px; font-weight: normal; margin-bottom: 10px;" href="https://github.com/xizon/F-Curator/raw/main/package/macOS/F-Curator.dmg">
                                <i class="fab fa-apple"></i>&nbsp;&nbsp;Mac 1.3.2
                                <span style="display: block; font-size: 10px; opacity: .6; padding-top: 2px;">For macOS 10.10 or later</span>
                            </a>
                            <a class="btn download-url-win" style="font-size: 14px; font-weight: normal; margin-bottom: 10px;" href="https://github.com/xizon/F-Curator/raw/main/package/windows/F-Curator(win).zip">
                                <i class="fab fa-windows"></i>&nbsp;&nbsp;Windows 1.3.2
                                <span style="display: block; font-size: 10px; opacity: .6; padding-top: 2px;">For windows 7 or later</span>
                            </a>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-1 col-lg-4 offst-lg-1">
                        <div class="slider-img position-relative d-none d-lg-block">
                            <img class="wow slideInRight" data-wow-delay=".5s"
                                src="assets/images/bg/bg1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- slider-area end -->
        <!--features-area  start -->
        <section  class="sevrice-area pt-120 pb-80">
            <div class="container" id="features">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service text-center mb-30">
                            <div class="servie-icon">
                                <img src="assets/images/icon/wrok-icon-1.png" alt="">
                            </div>
                            <div class="service-text">
                                <h3>Data Persistence</h3>
                                <p>Easily achieve data persistence. Supports exporting HTML file packages and can be used in any OS without network</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service text-center mb-30">
                            <div class="servie-icon">
                                <img src="assets/images/icon/wrok-icon-3.png" alt="">
                            </div>
                            <div class="service-text">
                                <h3>Drag and Drop</h3>
                                <p>Simple sorting of URL lists and categories</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service text-center mb-30">
                            <div class="servie-icon">
                                
                                <img src="assets/images/icon/wrok-icon-2.png" alt="">
                            </div>
                            <div class="service-text">
                                <h3>Remote Process</h3>
                                <p>Judgment of URL validity and repetitiveness. Automatically extract resources remote, such as icons</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--features-area end -->
      
        <!-- product area start -->
        <div  class="sceenshot-area theme-bg position-relative pt-120 pb-120">
            <div class="container" id="screen">
                <div class="row">
                    <div class="col-12">
                        <div class="section-titles text-center mb-50">
                            <span>Overview</span>
                            <h2>App ScreenShots</h2>
                        </div>
                    </div>
                </div>
                <div class="screenshot-active owl-carousel">
                    <div class="single-screenshot">
                        <a class="popup-image" href="assets/images/sceenshot/index.jpg">
                            <img src="assets/images/sceenshot/index.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-screenshot">
                        <a class="popup-image" href="assets/images/sceenshot/index2.jpg">
                            <img src="assets/images/sceenshot/index2.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-screenshot">
                        <a class="popup-image" href="assets/images/sceenshot/index3.jpg">
                            <img src="assets/images/sceenshot/index3.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-screenshot">
                        <a class="popup-image" href="assets/images/sceenshot/index4.jpg">
                            <img src="assets/images/sceenshot/index4.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-screenshot">
                        <a class="popup-image" href="assets/images/sceenshot/index5.jpg">
                            <img src="assets/images/sceenshot/index5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- price area -->
        <section class="pricing-area theme-bg pt-120 pb-120">
            <div class="container" id="price" >
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
                        <div class="section-titles mb-35 text-center">
                            <span>Let’s Work</span>
                            <h2>Improve Efficiency
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="price-tab">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row justify-content-center">
                                <div class="col-xl-4 col-lg-4" style="margin: 0 20px; background: #fff; border-radius: 8px;">
                                    <div class="price-box text-center mb-30">
                                        <div class="price-header">
                                            <h4>Free</h4>
                                            <!-- <h2><sup class="dolers">$</sup>0</h2> -->
                                            <span class="sep">Free forever</span>
                                        </div>
                                        <div class="price-item-list">
                                        <ul class="text-left" style="list-style: circle;">
                                            <li style="list-style: circle;"><strong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">Offline</strong> support and fast speeds</li>
                                            <li style="list-style: circle;">Easily achieve <strong ong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">data persistence</strong></li>
                                            <li style="list-style: circle;">Fetch <strong ong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">remote resources</strong> to the local database</li>
                                            <li style="list-style: circle;"><strong ong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">Category management</strong> and clear list blocks</li>
                                            <li style="list-style: circle;">Drag and drop <strong ong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">sorting</strong></li>
                                            <li style="list-style: circle;"><strong ong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">Exporting HTML</strong> that separates APP to use favorites</li>
                                            <li style="list-style: circle;">Support <strong ong style="box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);">importing database</strong> package.</li>
                                            <li style="list-style: circle;">Support quick search for URL and Site Name</li>
                                            <li style="list-style: circle;">Judgment of URL validity and repetitiveness</li>
                                            <li style="list-style: circle;">Automatically extract the remote resources, such as icons</li>
                                        </ul>
                                        
                                        </div>
                                        <div class="price-link mt-35 text-left">
                                            <a class="btn download-url-mac" style="font-size: 14px; font-weight: normal; margin-bottom: 10px;" href="https://github.com/xizon/F-Curator/raw/main/package/macOS/F-Curator.dmg">
                                                <i class="fab fa-apple"></i>&nbsp;&nbsp;Mac 1.3.2
                                                <span style="display: block; font-size: 10px; opacity: .6; padding-top: 2px;">For macOS 10.10 or later</span>
                                            </a>
                                            <a class="btn download-url-win" style="font-size: 14px; font-weight: normal; margin-bottom: 10px;" href="https://github.com/xizon/F-Curator/raw/main/package/windows/F-Curator(win).zip">
                                                <i class="fab fa-windows"></i>&nbsp;&nbsp;Windows 1.3.2
                                                <span style="display: block; font-size: 10px; opacity: .6; padding-top: 2px;">For windows 7 or later</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-xl-4 col-lg-4" style="margin: 0 20px; background: #fff; border-radius: 8px;">
                                    <div class="price-box text-center mb-30">
                                        <div class="price-header">
                                            <h4>🎁 Next</h4>
                                            <!-- <h2><sup class="dolers">$</sup>10</h2> -->
                                            <span class="sep">Coming Soon</span>
                                            
                                        </div>
                                        <div class="price-item-list">
                                            <ul class="text-left" style="list-style: circle;">
                                                <!-- <li style="list-style: circle;">Everything in free plan plus: </li> -->
                                                <!-- <li style="list-style: circle;">Purchase license, and earn free updates for a lifetime No subscription</li> -->
                                                <li style="list-style: circle; color: #2d6814;">Hover preview</li>
                                                <li style="list-style: circle; color: #2d6814;">Automatic sorting according to click frequency (need to be enabled)</li>
                                                <li style="list-style: circle; color: #2d6814;">Search the URL through the search engine API and add</li>
                                                <li style="list-style: circle; color: #2d6814;">Other possibilities</li>
                                     
                                            </ul>
                                        </div>
                                        <div class="price-link mt-35">
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
              
                    </div>
                </div>
            </div>
        </section>
     
     
     
    </main>

    <!-- footer -->
    <footer class="footer-area" data-background="assets/images/bg/footer.svg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-6 col-sm-4">
                    <div class="footer-widget mb-30">
                        <h3>Support</h3>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/VYdzttKU5H0">Getting Started</a></li>
                            <li><a target="_blank" href="https://github.com/xizon/F-Curator">Github Repository</a></li>
                            <li><a target="_blank" href="https://uiux.cc">UIUX Lab</a></li>


                            

                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="footer-widget footer-top-b mb-30">
                        <h3>Get in touch</h3>
                        <address>Get in touch is casual that's welcome to give me a message.</address>
                        <ul class="footer-address">
                            <li><i class="fas fa-envelope"></i> <span>uiuxlab@gmail.com</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center mt-60">
                        <p>Copyright &copy;2022 F-Curator all right reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

	<script>
        fetch('https://api.github.com/repos/xizon/F-Curator/releases/latest')
          .then(response => {
             return response.json();
           })
          .then(res => {
            res.assets.map((item) =>{
                const downloadURL = item.browser_download_url;
                if (/(.dmg)$/.test(downloadURL.toLowerCase())){
                    Array.prototype.slice.call( document.getElementsByClassName("download-url-mac") ).forEach((node)=>{
                        node.href = downloadURL;
                    });
                }
                if (/(.zip)$/.test(downloadURL.toLowerCase())){
                    Array.prototype.slice.call( document.getElementsByClassName("download-url-win") ).forEach((node)=>{
                        node.href = downloadURL;
                    });
                }
    
            });
          })
          .catch(err => console.log('Request Failed', err)); 
    
        </script>
    
       
    @@include('./src/components/_global/include-footer.html')
    
   
